 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <% for(var i=0; i < heroes.length; i++) { %>
        <p><%=heroes[i].id%></p>
        <p><%=heroes[i].nombre%></p>
        <p><%=heroes[i].profesion%></p>
        <p><%=heroes[i].resenia%></p>
        <p><%=heroes[i].pais%></p>
    <% } %>    
     
</body>
</html>